.banner{
    width: 1200px;
    height: 400px;
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    margin: 10px auto;
    color: #fff;
    overflow: hidden;
}

.banner .content_banner{
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

.banner .btn_{
    width: 110px;
    height: 40px;
    background-color:#003377 ;
    margin: 50px auto;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.box1{
    width: 100%;
    margin: 25px auto;
    height: 300px;
    border-bottom: solid 2px #f1f1f1;
}

.box1 .left{
    float: left;
    width: 300px;
}

.box1 .left img{
  width: 200px;
  height: 250px;
}

.box1 .right{
    float: right;
    width: 900px;
}
.box1 .right p{
    line-height: 25px;
}

.box2{
    margin: 45px 0;
    width: 100%;
    height: 300px;
    border-bottom: solid 2px #f1f1f1;
}

.box2 .left{
    float: left;
    width: 900px;
}

.box2 .right{
    float: right;
    width: 300px;
}

.box2 .right img{
    width: 200px;
    height: 250px;
}

.box2 p{
    line-height: 25px;
}
.bottom_box{
    width: 100%;
    text-align: center;
}
.bottom_box .item {
    height: 180px;
    margin: 20px 0;
}
.bottom_box .item .imgbox_itemj{
float: left;
width: 300px;
}
.bottom_box .item .imgbox_itemj img{
    width: 250px;
    height: 150px;
}

